@use "../node_modules/normalize.css/normalize.css";

._container {
    padding  : 0 100px;
    margin   : 0 auto;
    max-width: 1200px;

    @media (max-width:800px) {
        padding: 0 40px;
    }

    @media (max-width:400px) {
        padding: 0 10px;
    }
}